<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Social</title>

    {# Jquery, PopperJS #}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    {# Bootstrap #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {# Google font #}
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    {# Custom css #}
    <link rel="stylesheet" href="{% static 'simplesocial/css/master.css' %}">

  </head>
  <body>

    <nav class="navbar mynav navbar-expand-lg navbar-light bg-light" role="navigation" id="navbar">
      <a class="navbar-brand" href="{% url 'home' %}">Star Social</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="mr-0" id="navbarSupportedContent">
        <ul class="nav navbar-nav ">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="#" class="nav-link">Post</a>
            </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Groups</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" >Create Group</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link">Log Out</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a href="#" class="nav-link">Groups</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'login' %}" class="nav-link">Log In</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'accounts:signup' %}" class="nav-link">Sign Up</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container mycontent">
      {% block content %}


      {% endblock %}
    </div>

  </body>
</html>
